{% load static %}


<!DOCTYPE HTML>
<html>
	<head>
		<title>Juliana Gaioso (11122)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <noscript><link rel="stylesheet" href="{% static "css/noscript.css" %}" /></noscript>

        {% load livereload_tags %}
        {% livereload_script %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right styled-section">
						<div class="content">
                            <div class="center-container">
                                <h1>Juliana Gaioso (11122)</h1>
                                
                            </div>
                            <div class="inner center-container">
                                <ul class="icons">
                                    <li><a href="https://x.com/JulianaGaiosoMS" class="icon brands style2 fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/JulianaGaiosoMS" class="icon brands style2 fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://www.instagram.com/julianagaiosodireitapelobrasil" class="icon brands style2 fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                </ul>
                            </div>
                            <div class="center-container">
                                <p class="minor justify">Juliana Gaioso tem se destacado como uma figura proeminente na direita de Mato Grosso do Sul desde 2013. Ela esteve envolvida nas primeiras reuniões de apoio a Jair Bolsonaro em Brasília por volta de 2014 e desempenhou um papel ativo nas eleições presidenciais de 2018 no estado. Na ocasião, também apoiou a senadora eleita, mas não hesitou em se afastar quando esta se distanciou do grupo de Bolsonaro.
                                </p>
                            </div>
      
                            <div class="center-container">
                                <p>&copy; Juliana Gaioso - CNPJ: 56.613.956/0001-13. 2024 - Todos os direitos reservados. </p>
                            </div>
						</div>
						<div class="image video-container">
                            <video class="responsive-video" autoplay muted loop>
                                <source src="{{ video.video.url }}" type="video/mp4">
                                Seu navegador não suporta o elemento de vídeo.
                            </video>
                        </div>
                        
					</section>
                    <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right styled-section mobile-container">
						<div class="content">
                            <h1>Juliana Gaioso (11122)</h1>
                            <div class="inner center-container">
                                <ul class="icons">
                                    <li><a href="https://x.com/JulianaGaiosoMS" class="icon brands style2 fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/JulianaGaiosoMS" class="icon brands style2 fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://www.instagram.com/julianagaiosodireitapelobrasil" class="icon brands style2 fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                </ul>
                            </div>
                            <div class="center-container">
                                <p class="minor justify">Juliana Gaioso tem se destacado como uma figura proeminente na direita de Mato Grosso do Sul desde 2013. Ela esteve envolvida nas primeiras reuniões de apoio a Jair Bolsonaro em Brasília por volta de 2014 e desempenhou um papel ativo nas eleições presidenciais de 2018 no estado. Na ocasião, também apoiou a senadora eleita, mas não hesitou em se afastar quando esta se distanciou do grupo de Bolsonaro.
                                </p>
                                <p class="minor justify">Em 2022, ela apoiou Capitão Contar no PRTB e agora está no PP com a prefeita Adriane Lopes auxiliando a prefeita nos trabalhos comunitários e sociais.</p>
                                <p class="minor justify"> Juliana se destaca pela sua atuação em comunidades carentes e trabalhos sociais através do projeto "Dicas da Ju", que auxilia mães com dificuldades financeiras fornecendo roupas, alimentos e ajuda para medicamentos caros. Como mãe de quatro filhos, Juliana é uma defensora da família e da primeira infância, oferecendo suporte às mães de crianças com Transtorno do Espectro Autista.</p>
                            </div>
							<ul class="actions stacked">
								<li></li>
							</ul>
                            
                            <div class="center-container">
                                <p>&copy; Juliana Gaioso - CNPJ: 56.613.956/0001-13. 2024 - Todos os direitos reservados. </p>
                            </div>
						</div>
					</section>
					<footer class="wrapper style1 align-center">
						
					</footer>

			</div>

            <!-- Scripts STAATIC -->
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/jquery.scrollex.min.js" %}"></script>
            <script src="{% static "js/jquery.scrolly.min.js" %}"></script>
            <script src="{% static "js/browser.min.js" %}"></script>
            <script src="{% static "js/breakpoints.min.js" %}"></script>
            <script src="{% static "js/util.js" %}"></script>
            <script src="{% static "js/main.js" %}"></script>
            <script src="{% static "js/script.js" %}"></script>


	</body>
</html>